<p><%= item.content %></p>
<%= link_to "Delete", check_list_item_path(@check_list, item.id), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Mark as Complete", complete_check_list_item_path(@check_list, item.id), method: :patch %>